[submodule "lisp/lsp-bridge"]
	path = lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "lisp/awesome-tab"]
	path = lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "lisp/awesome-tray"]
	path = lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "lisp/duplicate-line"]
	path = lisp/duplicate-line
	url = https://github.com/manateelazycat/duplicate-line.git
[submodule "lisp/blink-search"]
	path = lisp/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "lisp/exec-path-from-shell"]
	path = lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "lisp/color-rg"]
	path = lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "lisp/all-the-icons.el"]
	path = lisp/all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "lisp/projectile"]
	path = lisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "lisp/vertico"]
	path = lisp/vertico
	url = https://github.com/minad/vertico.git
[submodule "lisp/compat"]
	path = lisp/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "lisp/marginalia"]
	path = lisp/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "lisp/consult"]
	path = lisp/consult
	url = https://github.com/minad/consult.git
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "lisp/posframe"]
	path = lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "lisp/markdown-mode"]
	path = lisp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "lisp/embark"]
	path = lisp/embark
	url = https://github.com/oantolin/embark.git
[submodule "lisp/emacs-bazel-mode"]
	path = lisp/emacs-bazel-mode
	url = https://github.com/bazelbuild/emacs-bazel-mode.git
[submodule "lisp/embark-consult"]
	path = lisp/embark-consult
	url = https://github.com/emacs-straight/embark-consult.git
[submodule "lisp/orderless"]
	path = lisp/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "lisp/cmake"]
	path = lisp/cmake
	url = https://gitlab.kitware.com/cmake/cmake.git
[submodule "lisp/vertico-posframe"]
	path = lisp/vertico-posframe
	url = https://github.com/tumashu/vertico-posframe.git
